<!DOCTYPE html>
<html lang="en">
<!----------------------------------  Header  --------------------------------->
<head>
	<title>À propos de Hurgland-Nick KELIET</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index,follow" />
	<meta name="author" content="Hurgland-Nick KELIET" />

	<meta name="title" content="Hurgland-Nick KELIET | On prépare notre futur dès maintenant" />
	<meta name="description" content="Ce site nous permet de kqgsdjhgqshjkdgojhwsqgdkjqSJDML.? KSLHFDJK QS HDS KJDHSQK DFQ%S OSIFJU HPQSPM FDIOSQIFD  FIDSYF IODUF8 DFYSODUIFU SODI" />

	<meta property="og:title" content="Hurgland-Nick KELIET | On prépare notre futur dès maintenant" />
	<meta property="og:site_name" content="Hurgland-Nick KELIET" />
	<meta property="og:description" content="Ce site nous permet de kqgsdjhgqshjkdgojhwsqgdkjqSJDML.? KSLHFDJK QS HDS KJDHSQK DFQ%S OSIFJU HPQSPM FDIOSQIFD  FIDSYF IODUF8 DFYSODUIFU SODI" />

	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<!-- Emplacement pour mon header announcement-->
	<!-- Fin de mon Header annoucement (a simple text) -->
</head>
<!-----------------------------------  Body  ---------------------------------->
<body class="site">
<!---------  section 1: hero  ------->
	<div class="hero section textOnColor" id="hero">
		<div class="content">
			<div class="header">
				<div class="logo"><img src="static\img\MY logo.png"
					    title="Hurgland-Nick KELIET" alt="Hurgland-Nick KELIET"></div><label class="hamburger" for="menuEnabler"><svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 40 40" style="vertical-align: middle;"><g><path d="m5 30v-3.4h30v3.4h-30z m0-8.4v-3.2h30v3.2h-30z m0-11.6h30v3.4h-30v-3.4z"></path></g></svg></label>
				<div
				    class="flexBreak"></div>
			<div><input type="checkbox" id="menuEnabler" class="menuEnabler">
				<ul class="menu">
					<li><a href={{url_for('accueil')}} class="m-link"><i class="fa fa-home"></i> Accueil</a></li>
					<li><a href={{url_for('tutoriel')}} class="m-link"><i class="fa fa-code"></i> Hurgland-Nick Tech</a></li>
					<li><a href={{url_for('blog')}} class="m-link"><i class="fa fa-rss-square"></i> Blog</a></li>
					<li><a href={{url_for('about')}} class="m-link"><i class="fa fa-question-circle"></i> À propos</a></li>
					<li><a href={{url_for('contact')}} class="m-link"><i class="fa fa-envelope"></i> Contact</a></li>
			</ul>
			</div>
		</div>

	</div>
	<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
	<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(204, 0, 0), rgb(119, 0, 119), rgb(0, 0, 204)) repeat scroll 0% 0%;"></div>
	<div></div>
	</div>

<!---------  section 10: feature  image + title (Visualisation)--------->
	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\pic.jpg" alt="My_pic"></div>

					<div class="featureText">
						<h3 class="title accent" style="background:rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(3, 0, 30), rgb(115, 3, 192), rgb(236, 56, 188)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(115, 3, 192); font-style:bold"> Hurgland-Nick KELIET </h3>
						<h3 class="title accent" style="color:red"> Data Scientist, </h3>
						<div>
							<p>Hey,
							<p>Je me nomme Hurgland-Nick KELIET et je suis un <span style="color:yellow">Data Scientist</span> très <span style="color:yellow">enthousiaste travaillant</span> sur Paris la Défense en tant que <span style="color:yellow">Consultant</span>.</p>

								<br>N'ayant pas eu tous les cours nécessaires en data science, Machine Learning car les domaines sont très vastes. J'ai complété mes connaissances déjà acquises à l'université, Ecole par la lecture de livres, des revues sur la toile, ou encore des cours en lignes comme on peut en trouver de manière exponentielle sur OpenClassroom, Udemy, Linkedin E-Learning, etc...
							<p>Mais cela vaut la peine de dépenser de l'argent pour améliorer vos compétences et parfois prendre de l'avance afin de suivre <span style="color:yellow">la veille technologique</span>. Mais je vous rassure que lorsque vous tomber sur de très bonnes entreprises, même sur le tas, vous pourriez apprendre, car on ne maîtrise jamais tout, mais on développe de <span style="color:yellow">nouvelles compétences</span>. Faudrait juste s'en donner les moyens pour <span style="color:yellow">se performer et se surpasser</span>.</p>

								<br>J'adore apprendre de nouvelles technologies,
							pour cela, je passe la plupart de mon temps libre, week-end, soirées à dévaliser des revues techs et créer mes propres projets. J'ai, dans le passé, travaillé aux côtés de grandes organisations que ce soit dans le domaine de <span style="color:yellow">la finance, Bâtiments, Commerces</span>...etc.
									<br>
							De ces différentes et très positives expériences, j'ai eu la chance de <span style="color:yellow">designer et / ou contribuer à la création de produits Big Data</span> génialissime ayant fortement impacté et améliorer <span style="color:yellow">les prises de décisions de ces entreprises</span>.
								<br></br>

									Vu que j'interviens très souvent dans des forums et groupes de data science sur les réseaux sociaux. Et en voyant tous ces étudiants, professionnels reconvertis, passionnés de data science, voulant avoir des astuces et de nouvelles idées, me demandant même, si j'avais un blog.
									<br>
								Je me suis alors donné pour objectif de créer mon propre blog en utilisant un langage que j'affectionne le plus : Le Python orienté sur un Micro-Framework que je ne connaissais pas (Flask).
							<br>Et oui, je vous ai dit que j'aime apprendre, Dans la data science, il peut servir à créer des web appli ou encore <span style="color:yellow">API</span>.
							<br></br>
							<p><span style="color:yellow">Ceci est mon blog personnel</span>, où j'écris sur des sujets divers, qui me passionnent, allant de la vie étudiante en France à la recherche d'emploi, critiques, interviews avec des professionnels, programmation et astuces avec des outils indispensables pour pouvoir acquérir les bases suffisantes pour devenir un data Scientist.</p>
							<p> J'espère qu'à travers mes vidéos je réussirai à créer des <span style="color:yellow">vocations</span> pour ce domaine très intéressent qui est la data science et qui permet de changer des vies de manière considérables et positives, par exemple: <span style="color:yellow">la détection des maladies</span>, la <span style="color:yellow">lutte contre les fraudes bancaires et anomalies</span>, les <span style="color:yellow">machines autonomes</span> etc...
							<br></br>N'hésitez pas à me contacter si un jour vous rencontrez des problèmes et aviez besoin de conseil sur un sujet. On essaiera de trouver ensemble comment résoudre le problème!</p>
							<br> Kind Regards, </br>
						</div>
					</div>

			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quo);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 34, 34), rgb(68, 68, 68)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(0, 0, 0);"></div>
		<div></div>
	</div>
<!---------  section 11: footer  --------->
	<div class="footer section textOnLight" id="footer">
		<div class="content">
			<div class="copyright" style='color:white; font-family:Berm CREEK'>Copyright ©2020 - Hurgland-Nick KELIET<b></div>
			<ul class="menu" style="color:Yellow">
				<li><a href="https://www.youtube.com/channel/UCEPAD8loQjQntJ9pJIW_xPg?view_as=subscriber" class="accent">Youtube</a></li>||
				<li><a href="https://www.facebook.com/hnkdn" class="accent">Facebook</a></li>||
				<li><a href="https://twitter.com/hurgland" class="accent">Twitter</a></li> ||
				<li><a href="https://www.instagram.com/hurglandnick" class="accent">Instagram</a></li>
			</ul>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%;"></div>
		<div></div>

</body>
<!-------------------------------  Fin Body  ---------------------------------->
</html>