<!DOCTYPE html>
<html lang="en">
<!----------------------------------  Header  --------------------------------->
<head>
	<title>Critiques, Vidéo de mode de vie - My Blog</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index,follow" />
	<meta name="author" content="Hurgland-Nick KELIET" />

	<meta name="title" content="Hurgland-Nick KELIET | On prépare notre futur dès maintenant" />
	<meta name="description" content="Ce site nous permet de kqgsdjhgqshjkdgojhwsqgdkjqSJDML.? KSLHFDJK QS HDS KJDHSQK DFQ%S OSIFJU HPQSPM FDIOSQIFD  FIDSYF IODUF8 DFYSODUIFU SODI" />

	<meta property="og:title" content="Hurgland-Nick KELIET | On prépare notre futur dès maintenant" />
	<meta property="og:site_name" content="Hurgland-Nick KELIET" />
	<meta property="og:description" content="Ce site nous permet de kqgsdjhgqshjkdgojhwsqgdkjqSJDML.? KSLHFDJK QS HDS KJDHSQK DFQ%S OSIFJU HPQSPM FDIOSQIFD  FIDSYF IODUF8 DFYSODUIFU SODI" />

	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<!-- Emplacement pour mon header announcement-->
	<!-- Fin de mon Header annoucement (a simple text) -->
</head>
<!-----------------------------------  Body  ---------------------------------->
<body class="site">
<!---------  section 1: hero  ------->
	<div class="hero section textOnColor" id="hero">
		<div class="content">
			<div class="header">
				<div class="logo"><img src="static\img\MY logo.png"
					    title="Hurgland-Nick KELIET" alt="Hurgland-Nick KELIET"></div><label class="hamburger" for="menuEnabler"><svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 40 40" style="vertical-align: middle;"><g><path d="m5 30v-3.4h30v3.4h-30z m0-8.4v-3.2h30v3.2h-30z m0-11.6h30v3.4h-30v-3.4z"></path></g></svg></label>
				<div
				    class="flexBreak"></div>
			<div><input type="checkbox" id="menuEnabler" class="menuEnabler">
				<ul class="menu">
					<li><a href={{url_for('accueil')}} class="m-link"><i class="fa fa-home"></i> Accueil</a></li>
					<li><a href={{url_for('tutoriel')}} class="m-link"><i class="fa fa-code"></i> Hurgland-Nick Tech</a></li>
					<li><a href={{url_for('blog')}} class="m-link"><i class="fa fa-rss-square"></i> Blog</a></li>
					<li><a href={{url_for('about')}} class="m-link"><i class="fa fa-question-circle"></i> À propos</a></li>
					<li><a href={{url_for('contact')}} class="m-link"><i class="fa fa-envelope"></i> Contact</a></li>
			</ul>
			</div>
		</div>
	</div>
	<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
	<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(241, 39, 17), rgb(240, 90, 20), rgb(245, 175, 25)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(241, 39, 17);"></div>
	<div></div>
	</div>

<!---------  section 10: feature  image + title (Visualisation)--------->
	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\blog.png" alt="My_pic" style="width:500px;height:478px;"></div>
					<div class="featureText">
						<h3 class="title accent" style="background:rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(3, 0, 30), rgb(115, 3, 192), rgb(236, 56, 188)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(115, 3, 192); font-style:bold"> Hurgland-Nick KELIET </h3>
					</div>

			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quo);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 34, 34), rgb(68, 68, 68)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(0, 0, 0);"></div>
		<div></div>
	</div>
<!---------  section 11: footer  --------->
	<div class="footer section textOnLight" id="footer">
		<div class="content">
			<div class="copyright" style='color:white; font-family:Berm CREEK'>Copyright ©2020 - Hurgland-Nick KELIET<b></div>
			<ul class="menu" style="color:Yellow">
				<li><a href="https://www.youtube.com/channel/UCEPAD8loQjQntJ9pJIW_xPg?view_as=subscriber" class="accent">Youtube</a></li>||
				<li><a href="https://www.facebook.com/hnkdn" class="accent">Facebook</a></li>||
				<li><a href="https://twitter.com/hurgland" class="accent">Twitter</a></li> ||
				<li><a href="https://www.instagram.com/hurglandnick" class="accent">Instagram</a></li>
			</ul>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%;"></div>
		<div></div>

</body>
<!-------------------------------  Fin Body  ---------------------------------->
</html>