<!DOCTYPE html>
<html lang="en">
<!----------------------------------  Header  --------------------------------->
<head>
	<title>Python & Notebook Index</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index,follow" />
	<meta name="author" content="Hurgland-Nick KELIET" />

	<meta name="title" content="Hurgland-Nick KELIET | On prépare notre futur dès maintenant" />
	<meta name="description" content="Ce site nous permet de kqgsdjhgqshjkdgojhwsqgdkjqSJDML.? KSLHFDJK QS HDS KJDHSQK DFQ%S OSIFJU HPQSPM FDIOSQIFD  FIDSYF IODUF8 DFYSODUIFU SODI" />

	<meta property="og:title" content="Hurgland-Nick KELIET | On prépare notre futur dès maintenant" />
	<meta property="og:site_name" content="Hurgland-Nick KELIET" />
	<meta property="og:description" content="Ce site nous permet de kqgsdjhgqshjkdgojhwsqgdkjqSJDML.? KSLHFDJK QS HDS KJDHSQK DFQ%S OSIFJU HPQSPM FDIOSQIFD  FIDSYF IODUF8 DFYSODUIFU SODI" />

	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<!-- Emplacement pour mon header announcement-->
	<!-- Fin de mon Header annoucement (a simple text) -->
</head>
<!-----------------------------------  Body  ---------------------------------->
<body class="site">
<!-------------------------  section 1: hero  ---------------------------->

	<div class="hero section textOnColor" id="hero">
		<div class="content">
			<div class="header">
				<div class="logo"><img src="\static\img\MY logo.png"
					    title="Hurgland-Nick KELIET" alt="Hurgland-Nick KELIET"></div><label class="hamburger" for="menuEnabler"><svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 40 40" style="vertical-align: middle;"><g><path d="m5 30v-3.4h30v3.4h-30z m0-8.4v-3.2h30v3.2h-30z m0-11.6h30v3.4h-30v-3.4z"></path></g></svg></label>
				<div
				    class="flexBreak"></div>
			<div><input type="checkbox" id="menuEnabler" class="menuEnabler">
				<ul class="menu">
					<li><a href={{url_for('accueil')}} class="m-link"><i class="fa fa-home"></i> Accueil</a></li>
					<li><a href={{url_for('tutoriel')}} class="m-link"><i class="fa fa-code"></i> Hurgland-Nick Tech</a></li>
					<li><a href={{url_for('blog')}} class="m-link"><i class="fa fa-rss-square"></i> Blog</a></li>
					<li><a href={{url_for('about')}} class="m-link"><i class="fa fa-question-circle"></i> À propos</a></li>
					<li><a href={{url_for('contact')}} class="m-link"><i class="fa fa-envelope"></i> Contact</a></li>
			</ul>
			</div>
		</div>
	</div>
	<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
	<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(51, 0, 27), rgb(130, 0, 60), rgb(255, 0, 132)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(255, 0, 132);"></div>
	<div></div>
	</div>

<!--------------------  section 1: En-tête technos ---------------------->

	<div class="topnavigate">
		<a href="#">SQL</a>
 	 	<a href="{{url_for('tableau_index')}}">Tableau & Outils BI</a>
 	 	<a href="#">Python & Notebook</a>
		<a href="{{url_for('r_index')}}">R & SparkR</a>
		<a href="#">Spark</a>
		<a href="#">Hadoop</a>
		<!--<a href="#">ELK</a> -->
		<a href="#">Azure</a>
		<a href="#">Divers</a>
 	 	<a href="#">Mooc & Certifications</a>
	</div>


<!---------  section x: Se connecter sur Amazon RDS avec Python VS R (Python) --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\Se_connecter_sur_RDS_Python.jpg" alt="Se_connecter_sur_RDS_Python_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Amazon_RDS_Python')}}>Se connecter sur Amazon RDS avec Python VS R 😀</a></h3>
						<div>
							<p style="color:black"> ici nous allons voir comment détecter des fraudes avec des méthodes de sur-échantillonnage et dont le dataset se trouve sur: <a href="https://www.kaggle.com/mlg-ulb/creditcardfraud">Kaggle</a>.</p>
							<p style="color:Orange"> - Utiliser <span style="color:red; font-weight:bold">ADASYN (Adaptive Synthetic).</span></p>
							<p style="color:Orange"> - Entraîner et Evaluer les données.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0)"></div>
		<div></div>
	</div>

<!---------  section x: Web Scraping avec BeautifulSoup - Commentaires Clients sur Amazon --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\Amazon_web_scraping.jpg" alt="Amazon_web_scraping_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Amazon_web_scraping')}}>FRAUD DETECTION avec Scikit-Learn et des techniques de Sur-Echantillonnage</a></h3>
<!--						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Amazon_web_scraping')}}> AMAZON Web Scraping avec BeautifulSoup: Scraping des commentaires clients avec Python</a></h3>-->
						<div>
							<p style="color:Orange"> Nous allons utiliser les modules Requests et BeautifulSoup de python pour extraire les données dont nous avons besoins d'un site web comme Amazon  .</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 34, 34), rgb(68, 68, 68)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(0, 0, 0);"></div>
	</div>

<!---------  section x: FRAUD DETECTION avec des techniques de sur-échantillonnage --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\fraud_detect_oversampling.jpg" alt="Fraud oversampling Méthode" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('fraud_detection_oversampling')}}>FRAUD DETECTION avec Scikit-Learn et des techniques de Sur-Echantillonnage</a></h3>
						<div>
							<p style="color:black"> ici nous allons voir comment détecter des fraudes avec des méthodes de sur-échantillonnage et dont le dataset se trouve sur: <a href="https://www.kaggle.com/mlg-ulb/creditcardfraud">Kaggle</a>.</p>
							<p style="color:Orange"> - Exploration de données.</p>
							<p style="color:Orange"> - Pre-Processing The Data.</p>
							<p style="color:Orange"> - Comment équilibrer des données qui sont dites déséquilibrer (unbalanced).</p>
							<p style="color:Orange"> - Utiliser <span style="color:red; font-weight:bold">ADASYN (Adaptive Synthetic).</span></p>
							<p style="color:Orange"> - Entraîner et Evaluer les données.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0)"></div>
		<div></div>
	</div>

<!---------  section 10: feature  image + title (Visualisation)--------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\astrazeneca_test1.jpg" alt="My_pic" style="width:350px;height:350px;"></div>
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold"><a href={{url_for('astrazeneca')}}>Astrazeneca_Test Cambridge</a></h3>
					</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quo);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 34, 34), rgb(68, 68, 68)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(0, 0, 0);"></div>
		<div></div>
	</div>

<!---------  section x: FRAUD DETECTION avec SMOTE --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\fraud_detect_smote.jpg" alt="Fraud avec SMOTE" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('fraud_detection_smote')}}>FRAUD DETECTION avec la méthode SMOTE</a></h3>
						<div>
							<p style="color:black"> ici nous allons voir une nouvelle méthode pour pouvoir détecter des fraudes dont le dataset se trouve sur: <a href="https://www.kaggle.com/mlg-ulb/creditcardfraud">Kaggle</a>.</p>
							<p style="color:Orange"> - Comment créer un model de classification pour détecter ces actes frauduleux.</p>
							<p style="color:Orange"> - Comment équilibrer des données qui sont dites déséquilibrer (unbalanced).</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0)"></div>
		<div></div>
	</div>

<!---------  section x: Titanic survivors : GridSearchCV & Gradient Boosting Classifier & XGboost & RandomForestClassifier --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\Titanic_survivors.jpg" alt="Titanic_survivors_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('titanic_survivors')}}>Analyser les survivants du titanic avec des Techniques de Machine Learning</a></h3>
						<div>
							<p style="color:white"> L'analyse des survivons du titanic avec un test pratique de Test qui est statique et sera bientôt dynamique avec Flask.</p>
							<p style="color:orange"> - L'utilisation de <span style="color:red; font-weight:bold">SQL.</span></p>
							<p style="color:orange"> - Gradient Boost.</p>
							<p style="color:orange"> - XGBoost Classifier.</p>
							<p style="color:orange"> - Comment améliorer le paramètrage de nos données avec <span style="color:red; font-weight:bold">GridSearch CV.</span></p>
							<p style="color:orange"> - Testons une prédiction (Web App en cours de création sur Flask) 😉 . </p>
							<p style="color:orange"> - Visualisation des Courbes d'apprentissages.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 34, 34), rgb(68, 68, 68)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(0, 0, 0);"></div>
		<div></div>
	</div>

<!---------  section x: Détection du Cancer du sein avec les K plus proches voisins --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\Breast_cancer.jpg" alt="Breast_cancer_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('breast_cancer_knn')}}> Detection du cancer du sein avec la méthode des K plus proches voisins (KNN) </a></h3>
						<div>
							<p style="color:Black"> Pour détecter si quelqu'un à le cancer du sein,  plusieurs techniques de Machine Learning peuvent être utiliser, Mais dans cet aperçu on utilisera une méthode de machine learning dit supervisée: le KNN.</p>
							<p style="color:orange"> - Data Processing</p>
							<p style="color:orange"> - K-Nearest Neighbors.</p>
							<p style="color:orange"> - Tuning des paramètres avec <span style="color:red; font-weight:bold">GridSearch CV.</span></p>
							<p style="color:orange"> - Méthode des <span style="color:red; font-weight:bold">K-fold Cross-Validation.</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0);"></div>
		<div></div>
	</div>

<!---------  section x: Salary prediction : Régression Linéaire avec Scikit-Learn application --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\Salary_prediction.jpg" alt="Salary_prediction" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Salary_prediction')}}> Prédiction de salaire : Application de la Régression Linéaire avec Scikit-Learn </a></h3>
						<div>
							<p style="color:black"> Prédiction de Salaire en fonction de l'expérience.</p>
							<p style="color:Orange"> - Récupération du dataset.</p>
							<p style="color:Orange"> - Modèle et ses paramètres.</p>
							<p style="color:Orange"> - Entraînement. </p>
							<p style="color:Orange"> - Test.</p>
							<p style="color:Orange"> - Evaluation de notre algorithme.</p>
							<p style="color:Orange"> - Test de prédiction.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0);"></div>
		<div></div>
	</div>

<!---------  section x: Régression Linéaire avec Scikit-Learn --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\Reg_linéaire_scikit.jpg" alt="Reg_linéaire_scikit" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Regression_lineaire_Scikit')}}> Régression Linéaire & Gradient Boost avec Scikit-Learn </a></h3>
						<div>
							<p style="color:white"> Une rapide introduction au Machine Learning avec la librairie Scikit-Learn .</p>
							<p style="color:Orange"> - Génération automatique d'un dataset.</p>
							<p style="color:Orange"> - Implémentation avec SGDRegressor.</p>
							<p style="color:Orange"> - Implémentation avec LinearRegression. </p>
							<p style="color:Orange"> - Implémentation avec Gradient Boosting Regressor.</p>
							<p style="color:Orange"> - Coefficient de détermination.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 34, 34), rgb(68, 68, 68)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(0, 0, 0);"></div>
		<div></div>
	</div>

<!---------  section x:Introduction à la régression Linéaire --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\Intro_reg_linéaire.jpg" alt="Intro_reg_linéaire_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Intro_regression_lineaire')}}>Introduction à la régression Linéaire (From Scratch) </a></h3>
						<div>
							<p style="color:black"> Une rapide introduction au Machine Learning avec comme algorithme présenté la régression linéaire avec les notions en mathématiques qui sont fondamentales.</p>
							<p style="color:Orange"> - Génération automatique d'un dataset.</p>
							<p style="color:Orange"> - Implémentation d'un model linéaire.</p>
							<p style="color:Orange"> - Introduction sur la fonction coût encore appelée: <span style="color:red; font-weight:bold">Mean Squared Error (MSE).</span></p>
							<p style="color:Orange"> - Implémentation de la descente de gradient. </p>
							<p style="color:Orange"> - Implémentation de la courbe d'apprentissage.</p>
							<p style="color:Orange"> - Coefficient de détermination.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0);"></div>
		<div></div>
	</div>

<!---------  section x: Manipulation des données : Python Pandas VS R Data.table --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\pandas_vs_rdatatable.jpg" alt="pandas_vs_rdatatable" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Pandas_datatable')}}> Analyse des données: Python Pandas Vs RData.Table </a></h3>
						<div>
							<p style="color:white">La librairie <span style="color:red; font-weight:bold">Pandas</span> de python, est la librairie la plus utilisée dans la manipulation de dataframe.
   								D'un autre côté pour les amoureux du langage de programmation statistique R, une librairie similairement équivalente dites plus performante et simple en terme d'usage existe pour la manipulation de dataframe, <span style="color:red; font-weight:bold">Data.Table</span>.
								<br>Si vous souhaitez savoir comment les utiliser, les comparer, vous êtes au bon endroit.
								<p class="title accent" style=" border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('datatable_pandas')}}> Cliquez ici pour la version R. Data.Table</a></p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 34, 34), rgb(68, 68, 68)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(0, 0, 0);"></div>
		<div></div>
	</div>

<!---------  section 11: footer  --------->

	<div class="footer section textOnLight" id="footer">
		<div class="content">
			<div class="copyright" style='color:white; font-family:Berm CREEK'>Copyright ©2020 - Hurgland-Nick KELIET<b></div>
			<ul class="menu" style="color:Yellow">
				<li><a href="https://www.youtube.com/channel/UCEPAD8loQjQntJ9pJIW_xPg?view_as=subscriber" class="accent">Youtube</a></li>||
				<li><a href="https://www.facebook.com/hnkdn" class="accent">Facebook</a></li>||
				<li><a href="https://twitter.com/hurgland" class="accent">Twitter</a></li> ||
				<li><a href="https://www.instagram.com/hurglandnick" class="accent">Instagram</a></li>
			</ul>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%;"></div>
		<div></div>

</body>
<!-------------------------------  Fin Body  ---------------------------------->
</html>