<!DOCTYPE html>
<html lang="en">
<!----------------------------------  Header  --------------------------------->
<head>
	<title>Python & Notebook Index</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index,follow" />
	<meta name="author" content="Hurgland-Nick KELIET" />

	<meta name="title" content="Hurgland-Nick KELIET | On prépare notre futur dès maintenant" />
	<meta name="description" content="Ce site nous permet de kqgsdjhgqshjkdgojhwsqgdkjqSJDML.? KSLHFDJK QS HDS KJDHSQK DFQ%S OSIFJU HPQSPM FDIOSQIFD  FIDSYF IODUF8 DFYSODUIFU SODI" />

	<meta property="og:title" content="Hurgland-Nick KELIET | On prépare notre futur dès maintenant" />
	<meta property="og:site_name" content="Hurgland-Nick KELIET" />
	<meta property="og:description" content="Ce site nous permet de kqgsdjhgqshjkdgojhwsqgdkjqSJDML.? KSLHFDJK QS HDS KJDHSQK DFQ%S OSIFJU HPQSPM FDIOSQIFD  FIDSYF IODUF8 DFYSODUIFU SODI" />

	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<!-- Emplacement pour mon header announcement-->
	<!-- Fin de mon Header annoucement (a simple text) -->
</head>
<!-----------------------------------  Body  ---------------------------------->
<body class="site">
<!-------------------------  section 1: hero  ---------------------------->

	<div class="hero section textOnColor" id="hero">
		<div class="content">
			<div class="header">
				<div class="logo"><img src="\static\img\MY logo.png"
					    title="Hurgland-Nick KELIET" alt="Hurgland-Nick KELIET"></div><label class="hamburger" for="menuEnabler"><svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 40 40" style="vertical-align: middle;"><g><path d="m5 30v-3.4h30v3.4h-30z m0-8.4v-3.2h30v3.2h-30z m0-11.6h30v3.4h-30v-3.4z"></path></g></svg></label>
				<div
				    class="flexBreak"></div>
			<div><input type="checkbox" id="menuEnabler" class="menuEnabler">
				<ul class="menu">
					<li><a href={{url_for('accueil')}} class="m-link"><i class="fa fa-home"></i> Accueil</a></li>
					<li><a href={{url_for('tutoriel')}} class="m-link"><i class="fa fa-code"></i> Hurgland-Nick Tech</a></li>
					<li><a href={{url_for('blog')}} class="m-link"><i class="fa fa-rss-square"></i> Blog</a></li>
					<li><a href={{url_for('about')}} class="m-link"><i class="fa fa-question-circle"></i> À propos</a></li>
					<li><a href={{url_for('contact')}} class="m-link"><i class="fa fa-envelope"></i> Contact</a></li>
				</ul>
			</div>
		</div>
	<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
	<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(51, 0, 27), rgb(130, 0, 60), rgb(255, 0, 132)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(255, 0, 132);"></div>
	<div></div>
	</div>

<!--------------------  section 1: En-tête technos ---------------------->
	</div>

	<div class="topnavigate">
		<a href="#">SQL</a>
 	 	<a href="{{url_for('tableau_index')}}">Tableau & Outils BI</a>
 	 	<a href="{{url_for('python_index')}}">Python & Notebook</a>
		<a href="{{url_for('r_index')}}">R & SparkR</a>
		<a href="#">Spark</a>
		<a href="#">Hadoop</a>
		<!--<a href="#">ELK</a> -->
		<a href="#">Azure</a>
		<a href="#">Divers</a>
 	 	<a href="#">Mooc & Certifications</a>
	</div>


<!---------  section x: EDA: Analyse des particules fines (R) --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\Analyse_des_particules_fines_R.jpg" alt="Analyse_des_particules_fines_R_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Analyse_exploratoire_des_particules_fines')}}>EDA: Analyse des particules fines 🌏🕵️‍</a></h3>
						<div>
							<p> Dans ce blog, nous allons faire des analyses sur les <span style="color:yellow; font-weight:bold.italic">particules fines</span> qui sont des polluants très néfastes dans la nature.</p>
							<P> Nous nous poserons quelques questions pratiques auxquelles nous tenterons d'apporter des réponses concrètes par des requêtes et des graphiques, très pratique pour les expliquer aux parties prenantes non technique.</P>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 34, 34), rgb(68, 68, 68)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(0, 0, 0);"></div>
		<div></div>
	</div>


<!---------  section x: Manipulation de Fichier JSON avec R --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\Manipulation_json_avec_R.jpg" alt="Manipulation_json_avec_R_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Manipulation_JSON_avec_R')}}> Manipulation de Fichier JSON avec R </a></h3>
						<div>
							<p style="color:black"> Dans ce Blog, nous verrons comment faire des analyses avec des données <span style="color:red; font-weight:bold.italic"> JSON (JavaScript Object Notation) </span> qui est le format de données le plus couramment utilisé pour la communication asynchrone navigateur/serveur.</p>
							<p style="color:black"> Nous travaillerons avec les données d’étiquetage des médicaments de la Food and Drug Administration de OpenFDA avec lequelle travaille souvent  <span style="color:blue; font-weight:bold.italic"> les Data scientists </span>.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0)"></div>
		<div></div>
	</div>

<!---------  section x: Se connecter sur Amazon RDS avec R VS Python (R) --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\Se_connecter_sur_RDS_R.jpg" alt="Se_connecter_sur_RDS_R_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Amazon_RDS_R')}}>Se connecter sur Amazon RDS avec R VS Python 😀</a></h3>
						<div>
							<p> Que nous soyons Data Scientist</p>
							<P> NB: pour rendre les graphes de R intéractif, ajouter à la fin des requêtes ggplot: <span style="color:yellow; font-weight:bold.italic">%>% ggplotly().</span></P>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 34, 34), rgb(68, 68, 68)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(0, 0, 0);"></div>
		<div></div>
	</div>

<!---------  section x: Machine Learning Non Supervisé : Clustering de Document --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\Clustering_de_document.jpg" alt="Clustering_de_document_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Clustering_de_document')}}> Machine Learning Non Supervisé : Clustering de Document!!!</a></h3>
						<div>
							<p style="color:black"> Dirigeons nous vers une des techniques de Machine Learning non-supervisé appelé le Clustering. Le clustering trouve son application dans tout ce qui est social network, indexation de document comme google ou encore <span style="color:blue; font-weight:bold.italic">la segmentation de marché</span>.</p>
							<p style="color:black">Nous allons dans ce cas pratique pouvoir comparer deux méthodes de Clustering pour effectuer <span style="color:green; font-weight:bold.italic"> le Clustering de document </span> : <span style="color:red; font-weight:bold.italic"> le Hierarchical clustering </span> et <span style="color:red; font-weight:bold.italic"> le K-Means clustering</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0)"></div>
		<div></div>
	</div>


<!---------  section x: Tableau Visualisation (LOD) VS R (Cas Superstore) (R) --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\Superstore_R_vs_Tableau.jpg" alt="Superstore_R_vs_Tableau_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Superstore_R_vs_Tableau')}}>Tableau Visualisation (LOD) VS R Visualisation (Cas Superstore) 😀</a></h3>
						<div>
							<p> Que nous soyons Data Scientist, Analyst ou autre, nous avons à travailler avec des Données dans le but d'en faire un levier dans la compréhension des problématiques que l'on se pose.
								Mais pour faire exprimer nos données, la data visualisation s'impose comme étant le moyen d'expression le plus adapté pour faire parler nos résulats et en dégager des insights.
								Dans ce tutoriel, nous verrons comment utiliser Tableau Software et son LOD, que nous comparerons à R et SQL pour effectuer des requêtes du monde réel.
							</p>
							<P> NB: pour rendre les graphes de R intéractif, ajouter à la fin des requêtes ggplot: <span style="color:yellow; font-weight:bold.italic">%>% ggplotly().</span></P>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 34, 34), rgb(68, 68, 68)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(0, 0, 0);"></div>
		<div></div>
	</div>

<!---------  section x: Wiki scraping et ggplot: Population des Etats-Unis et Recensement --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\Recensement_US_people_jpg.jpg" alt="Recensement_US_people_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Recensement_US_people')}}> Wiki scraping et ggplot: Population des Etats-Unis et Recensement!!!</a></h3>
						<div>
							<p style="color:black"> Dans ce tutoriel, nous allons Scrapper une tableau de données se trouvant dans une page Wikipédia grâce à Rvest, puis nous allons visualiser grâce à des cartographies, les différents recensements de la population des USA de 2010 et 2019.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0)"></div>
		<div></div>
	</div>


<!---------  section x: Regression Logistique : Prédiction des Présidentielles au USA en 2012 (R) --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\Predictions elections présidentielle.jpg" alt="Predictions elections présidentielle_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('election_usa_2012')}}>Regression Logistique : Prédiction des élections présidentielles 2012 au USA 😎</a></h3>
						<div>
							<p> Dans ce tutoriel, grâce à ggplot et la Regression logistique, nous allons prédire les résultats des élections présidentielles au USA de l'an 2012, puis nous allons également visualiser les informations dans des cartes.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 34, 34), rgb(68, 68, 68)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(0, 0, 0);"></div>
		<div></div>
	</div>


<!---------  section x: Visualisation du taux de criminalité en France par région en 2014 --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\taux_de_criminalite.jpg" alt="taux_de_criminalite_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Criminalite_france_2014')}}> Visualisation du taux de criminalité en France en 2014 🕵️‍♂!!!</a></h3>
						<div>
							<p style="color:black"> Dans ce tutoriel, nous allons visualiser le taux de criminalité en France en 2014, et cela grâce à des librairies de R comme ggplot2, maps. </p>
							<p style="color:black"> Nous verrons également comment faire la jointure des données entre des données de géolocalisation contenant des données comme longitude et latitude, et un dataset contenant des valeurs que nous voulons faire apparaître dans notre cartographie.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0)"></div>
		<div></div>
	</div>



<!---------  section x: Web Scraping avec Rvest et NLP : Les mots les plus utilisés dans une revue (LevinSources) (R) --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\Web scraping & NLP.jpg" alt="Web scraping_&_NLP_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Webscraping_and_NLP')}}>Web Scraping avec Rvest et NLP : Recherche des mots les plus utilisés dans la revue nommée "GIZ: Gender Safeguards for the Kimberley Process" de l'entreprise Levin Sources à Cambridge 🙂</a></h3>
						<div>
							<p> Dans ce tutoriel nous allons pratiquer du web scrapping avec la librairie Rvest de R, des regex et le Natural Language Processing (NLP).</p>
							<p> Le but étant de récupérer les données d'une page web qui est une révue de recherche de l'entreprise Levin Sources et nous aimerions directement faire ressortir le principal sujet du texte sans pour autant lire la revue.</p>
							<p> Pour cela des techniques comme le NLP, qui va nous permettre de trouver les mots les plus utilisés dans la revue et de tirer des conclusions sur le thème possible.</p>
							<p> Les expressions régulieres (regex), pour nettoyer le texte que nous avons scrappé, afin d'éviter tout erreur lors de notre traitement.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 34, 34), rgb(68, 68, 68)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(0, 0, 0);"></div>
		<div></div>
	</div>

<!---------  section x: La Data Visualisation outil d'efficience commercial --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\La datavisualistion_outil_efficient.jpg" alt="La datavisualistion_outil_efficient_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Importance_de_la_datavisualision')}}> La Data Visualisation, outil de performance 😲!!!</a></h3>
						<div>
							<p style="color:black"> Ici dans ce tutoriel, nous montrerons pourquoi il est très important de visualiser les données avant toutes analyses grâce au dataset "Anscombe" </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0)"></div>
		<div></div>
	</div>


<!---------  section x: Installation de plusieurs librairies avec (R) --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\install_packages_R2.jpg" alt="install_packages_R_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Install_packages_R')}}>Installer de plusieurs librairies avec une fonction dans R? 😱🤔</a></h3>
						<div>
							<p> Dans ce tutoriel nous créerons une fonction qui nous permettra d'installer plusieurs en simultané.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 34, 34), rgb(68, 68, 68)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(0, 0, 0);"></div>
		<div></div>
	</div>

<!---------  section x: diagramme de membrures (Chord diagram)--------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\Chord_diagram.jpg" alt="Chord_diagram_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Chord_diagram')}}> diagramme de membrures (Chord diagram)</a></h3>
						<div>
							<p style="color:black"> Ici dans ce tutoriel nous apprendrons à créer et utiliser un diagramme de membrures</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0)"></div>
		<div></div>
	</div>

<!---------  section x: Le Paradoxe de Simpson (Un simple problème de compréhension) --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\Simpson_pararadox.jpg" alt="Simpson_pararadox_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('paradoxe_de_simpson')}}>Le Paradoxe de Simpson ( cas d'iris - compréhension? 😱🤔)</a></h3>
						<div>
							<p style="color:white"> <p style="color:white"> Qu'est-ce que le <span style="color:red; font-weight:bold"> paradoxe de Simpson</span>? Ce paradoxe statistique qui donne des maux de tête. Qu'est ce qui se cache derrière!?</p>
							<p> Nous étudierons ce phénomène avec le dataset iris inclu dans R.</p>
							<p> Vous pourriez également trouver le dataset sur Kaggle.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 34, 34), rgb(68, 68, 68)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(0, 0, 0);"></div>
		<div></div>
	</div>

<!---------  section x: Uber Pickups in New-York City  --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\Nyflights_R.jpg" alt="Nyc_Flights_R_jpg" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('NewYorkFlights_R')}}> Lire et Ecrire dans une base de donnée avec R (New-York Flights)</a></h3>
						<div>
							<p style="color:black">Ici dans ce tutoriel, nous allons voir comment depuis <span style="color:red; font-weight:bold">Rstudio</span> se connecter à une base de données <span style="color:red; font-weight:bold">(Mariadb / Mysql/ etc.)</span>.
							Puis nous allons alors effectuer <span style="color:red; font-weight:bold">des requêtes</span>, depuis R, créer des <span style="color:red; font-weight:bold">visualisations</span> avec <span style="color:red; font-weight:bold">ggplot</span> et <span style="color:red; font-weight:bold">leaflet</span> sur des données que nous avons récupéré de la database!
							Pour finir, nous verrons aussi comment <span style="color:red; font-weight:bold">ajouter</span>, <span style="color:red; font-weight:bold">modifier</span> des données de la database depuis R au lieu d’utiliser des librairies comme sqldf qui n’effectuera que des requêtes.
 							</p>😉</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0)"></div>
		<div></div>
	</div>

<!---------  section x: Hello Leaflet  Introduction à Leaflet avec Rmarkdown--------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\My_map.png" alt="Hello Leaflet" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('intro_a_leaflet')}}>Introduction à Leaflet avec RMarkdown</a></h3>
						<div>
							<p> Une rapide utilisation du module Leaflet sur Rstudio en utilisant RMarkdown.</p>
							<p> - Comment afficher des lieux dans une map Leaflet.</p>
							<p> - Comment exporter les cartes leaflet en format image (png) ou web html afin de pouvoir les partager.</p>
							<br>
							<br>
							<p style="font-style:italic">NB: Les cartes sont intéractives donc vous pourrez intérargir avec 😉</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(92, 0, 0), rgb(204, 0, 0), rgb(235, 0, 0)) repeat scroll 0% 0%;"></div>
		<div></div>
	</div>


<!---------  section x: Uber Pickups in New-York City  --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\UberAnimation.gif" alt="Hello Leaflet" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('UberPickups_avec_R')}}>Introduction à R avec "Uber Pickups in New-York City" (lubridate)</a></h3>
						<div>
							<p style="color:black"> Une introduction à R avec le dataset Uber Pickups in New-York City que l'on peut trouver sur ce lien: <a href="https://data.world/data-society/uber-pickups-in-nyc">data.world</a>.</p>
							<p style="color:black"> - Comment importer, concatener des données.</p>
							<p style="color:black"> - Comment utiliser le package Lubridate pour gérer les dates et les heures.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0)"></div>
		<div></div>
	</div>


<!---------  section x: Manipulation des données : Python Pandas VS R Data.table --------->

	<div class="feature section textOnColor" id="feature">
		<div class="content">
			<div class="grid featureRow">
				<div class="column"><img src="\static\img\pandas_vs_rdatatable.jpg" alt="pandas_vs_rdatatable" style="width:550px;height:350px;"></div>
				<div class="column">
					<div class="featureText">
						<h3 class="title accent" style="background:Orange; border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('datatable_pandas')}}> Analyse des données: RData.Table Vs Python Pandas</a></h3>
						<div>
							<p style="color:white"> <p style="color:white">La librairie <span style="color:red; font-weight:bold">Pandas</span> de python, est la librairie la plus utilisée dans la manipulation de dataframe.
   								D'un autre côté pour les amoureux du langage de programmation statistique R, une librairie similairement équivalente dites plus performante et simple en terme d'usage existe pour la manipulation de dataframe, <span style="color:red; font-weight:bold">Data.Table</span>.
								<br>Si vous souhaitez savoir comment les utiliser, les comparer, vous êtes au bon endroit.
							<p class="title accent" style=" border-color: rgb(115, 3, 192); font-style:bold; color:hotpink"><a href={{url_for('Pandas_datatable')}}> Cliquez ici pour la version Python Pandas</a></p>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 0, 0), rgb(34, 34, 34), rgb(68, 68, 68)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: rgb(0, 0, 0);"></div>
		<div></div>
	</div>

<!---------  section 11: footer  --------->

	<div class="footer section textOnLight" id="footer">
		<div class="content">
			<div class="copyright" style='color:white; font-family:Berm CREEK'>Copyright ©2020 - Hurgland-Nick KELIET<b></div>
			<ul class="menu" style="color:Yellow">
				<li><a href="https://www.youtube.com/channel/UCEPAD8loQjQntJ9pJIW_xPg?view_as=subscriber" class="accent">Youtube</a></li>||
				<li><a href="https://www.facebook.com/hnkdn" class="accent">Facebook</a></li>||
				<li><a href="https://twitter.com/hurgland" class="accent">Twitter</a></li> ||
				<li><a href="https://www.instagram.com/hurglandnick" class="accent">Instagram</a></li>
			</ul>
		</div>
		<div class="fillSection backgroundImage" style="background-image: url(&quot;&quot;);"></div>
		<div class="fillSection backgroundColor" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%;"></div>
		<div></div>

</body>
<!-------------------------------  Fin Body  ---------------------------------->
</html>